/* line 16, ../scss/base-settings/vendors/_normalize.scss */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 23, ../scss/base-settings/vendors/_normalize.scss */

audio,
canvas,
video {
  display: inline-block;
}

/* line 29, ../scss/base-settings/vendors/_normalize.scss */

audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 37, ../scss/base-settings/vendors/_normalize.scss */

[hidden],
template {
  display: none;
}

/* line 41, ../scss/base-settings/vendors/_normalize.scss */

script {
  display: none !important;
}

/* line 47, ../scss/base-settings/vendors/_normalize.scss */

abbr[title] {
  border-bottom: none;
}

/* line 52, ../scss/base-settings/vendors/_normalize.scss */

strong {
  font-weight: bold;
}

/* line 57, ../scss/base-settings/vendors/_normalize.scss */

dfn {
  font-style: italic;
}

/* line 62, ../scss/base-settings/vendors/_normalize.scss */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  opacity: 0.4;
}

/* line 69, ../scss/base-settings/vendors/_normalize.scss */

mark {
  background: #ff0;
  color: #000;
}

/* line 78, ../scss/base-settings/vendors/_normalize.scss */

code,
kbd,
pre,
samp {
  display: inline-block;
  font-family: monospace, serif;
  margin-bottom: 0;
}

/* line 85, ../scss/base-settings/vendors/_normalize.scss */

pre {
  white-space: pre-wrap;
  margin-top: 0;
}

/* line 91, ../scss/base-settings/vendors/_normalize.scss */

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 94, ../scss/base-settings/vendors/_normalize.scss */

small {
  font-size: 75%;
}

/* line 98, ../scss/base-settings/vendors/_normalize.scss */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 105, ../scss/base-settings/vendors/_normalize.scss */

sup {
  top: -0.5rem;
}

/* line 107, ../scss/base-settings/vendors/_normalize.scss */

sub {
  bottom: -0.25rem;
}

/* line 111, ../scss/base-settings/vendors/_normalize.scss */

img {
  border: 0;
}

/* line 114, ../scss/base-settings/vendors/_normalize.scss */

svg:not(:root) {
  overflow: hidden;
}

/* line 118, ../scss/base-settings/vendors/_normalize.scss */

figure {
  margin: 0;
}

/* line 123, ../scss/base-settings/vendors/_normalize.scss */

legend {
  border: 0;
  padding: 0;
}

/* line 134, ../scss/base-settings/vendors/_normalize.scss */

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 145, ../scss/base-settings/vendors/_normalize.scss */

button,
select {
  text-transform: none;
}

/* line 155, ../scss/base-settings/vendors/_normalize.scss */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 163, ../scss/base-settings/vendors/_normalize.scss */

input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

/* line 185, ../scss/base-settings/vendors/_normalize.scss */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 192, ../scss/base-settings/vendors/_normalize.scss */

textarea {
  overflow: auto;
  vertical-align: top;
}

@-webkit-keyframes fade_in {
  /* line 14, ../scss/base-settings/base/_keyframes-animations.scss */
  0% {
    opacity: 0;
  }

  /* line 17, ../scss/base-settings/base/_keyframes-animations.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fade_in {
  /* line 14, ../scss/base-settings/base/_keyframes-animations.scss */
  0% {
    opacity: 0;
  }

  /* line 17, ../scss/base-settings/base/_keyframes-animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade_out {
  /* line 24, ../scss/base-settings/base/_keyframes-animations.scss */
  0% {
    opacity: 1;
  }

  /* line 27, ../scss/base-settings/base/_keyframes-animations.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fade_out {
  /* line 24, ../scss/base-settings/base/_keyframes-animations.scss */
  0% {
    opacity: 1;
  }

  /* line 27, ../scss/base-settings/base/_keyframes-animations.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes screen_overlay_fade_in {
  /* line 34, ../scss/base-settings/base/_keyframes-animations.scss */
  0% {
    opacity: 0;
  }

  /* line 37, ../scss/base-settings/base/_keyframes-animations.scss */
  100% {
    opacity: 0.35;
  }
}

@keyframes screen_overlay_fade_in {
  /* line 34, ../scss/base-settings/base/_keyframes-animations.scss */
  0% {
    opacity: 0;
  }

  /* line 37, ../scss/base-settings/base/_keyframes-animations.scss */
  100% {
    opacity: 0.35;
  }
}

@-webkit-keyframes screen_overlay_fade_out {
  /* line 44, ../scss/base-settings/base/_keyframes-animations.scss */
  0% {
    opacity: 0.35;
  }

  /* line 47, ../scss/base-settings/base/_keyframes-animations.scss */
  100% {
    opacity: 0;
  }
}

@keyframes screen_overlay_fade_out {
  /* line 44, ../scss/base-settings/base/_keyframes-animations.scss */
  0% {
    opacity: 0.35;
  }

  /* line 47, ../scss/base-settings/base/_keyframes-animations.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rotate-spinner {
  /* line 54, ../scss/base-settings/base/_keyframes-animations.scss */
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 57, ../scss/base-settings/base/_keyframes-animations.scss */
  100% {
    -webkit-transform: rotate(359);
    transform: rotate(359);
  }
}

@keyframes rotate-spinner {
  /* line 54, ../scss/base-settings/base/_keyframes-animations.scss */
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  /* line 57, ../scss/base-settings/base/_keyframes-animations.scss */
  100% {
    -webkit-transform: rotate(359);
    transform: rotate(359);
  }
}

/* line 5, ../scss/base-settings/base/_base-global.scss */

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/base-settings/base/_base-global.scss */

html {
  height: 100%;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.5;
}

/* line 14, ../scss/base-settings/base/_base-global.scss */

body {
  background: #fff;
  color: #333;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* line 24, ../scss/base-settings/base/_base-global.scss */

main,
footer {
  padding-top: 24px;
}

/* line 29, ../scss/base-settings/base/_base-global.scss */

img,
object,
embed {
  max-width: 100%;
}

/* line 31, ../scss/base-settings/base/_base-global.scss */

img {
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}

/* line 38, ../scss/base-settings/base/_base-global.scss */

.not-supported {
  width: 100%;
  padding: 20px;
  color: #000;
  text-align: center;
  background: #ffecb3;
  border-bottom: solid 1px #664d00;
}

/* line 45, ../scss/base-settings/base/_base-global.scss */

.not-supported p {
  margin-bottom: 0;
}

/* line 50, ../scss/base-settings/base/_base-global.scss */

.clearfix {
  *zoom: 1;
}

/* line 6, ../scss/base-settings/utilities/_mix-general.scss */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: block;
}

/* line 10, ../scss/base-settings/utilities/_mix-general.scss */

.clearfix:after {
  clear: both;
}

/* line 21, ../scss/base-settings/base/_typography.scss */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* line 22, ../scss/base-settings/base/_typography.scss */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial;
}

/* line 23, ../scss/base-settings/base/_typography.scss */

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

/* line 24, ../scss/base-settings/base/_typography.scss */

h5,
h6 {
  font-weight: bold;
}

/* line 26, ../scss/base-settings/base/_typography.scss */

h1 {
  font-size: 1.75rem;
  line-height: 1.71429;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 80em) {
  /* line 26, ../scss/base-settings/base/_typography.scss */

  h1 {
    font-size: 2.625rem;
    line-height: 1.14286;
    margin-bottom: 1.5rem;
  }
}

/* line 33, ../scss/base-settings/base/_typography.scss */

h2 {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 80em) {
  /* line 33, ../scss/base-settings/base/_typography.scss */

  h2 {
    font-size: 2.375rem;
    line-height: 1.26316;
    margin-bottom: 1.5rem;
  }
}

/* line 40, ../scss/base-settings/base/_typography.scss */

h3 {
  font-size: 1.125rem;
  line-height: 1.33333;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 80em) {
  /* line 40, ../scss/base-settings/base/_typography.scss */

  h3 {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
}

/* line 47, ../scss/base-settings/base/_typography.scss */

h4 {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 80em) {
  /* line 47, ../scss/base-settings/base/_typography.scss */

  h4 {
    font-size: 1.75rem;
    line-height: 1.71429;
    margin-bottom: 1.5rem;
  }
}

/* line 54, ../scss/base-settings/base/_typography.scss */

h5 {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/* line 58, ../scss/base-settings/base/_typography.scss */

h6 {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/* line 63, ../scss/base-settings/base/_typography.scss */

p,
address {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

/* line 68, ../scss/base-settings/base/_typography.scss */

a {
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 0;
  color: #197295;
  text-decoration: none;
  background: transparent;
}

/* line 76, ../scss/base-settings/base/_typography.scss */

a:focus,
a:active,
a:hover {
  text-decoration: underline;
  outline: 0;
}

/* line 81, ../scss/base-settings/base/_typography.scss */

a:after,
a:before {
  text-decoration: underline;
}

/* line 85, ../scss/base-settings/base/_typography.scss */

a:after,
a:before {
  text-decoration: none;
}

/* line 5, ../scss/base-settings/base/_lists.scss */

ul,
ol,
dl {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

/* line 10, ../scss/base-settings/base/_lists.scss */

ol {
  padding-left: 20px;
}

/* line 11, ../scss/base-settings/base/_lists.scss */

ul {
  padding-left: 15px;
}

/* line 13, ../scss/base-settings/base/_lists.scss */

.no-bullet {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

/* line 3, ../scss/base-settings/base/_buttons.scss */

.button {
  display: inline-block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 1rem;
  line-height: 1;
  margin-bottom: 1.5rem;
  color: white;
  text-align: center;
  background: gainsboro;
  -webkit-transition: background 0.35s ease, color 0.35s ease;
  transition: background 0.35s ease, color 0.35s ease;
}

@media only screen and (min-width: 27em) {
  /* line 3, ../scss/base-settings/base/_buttons.scss */

  .button {
    width: auto;
  }
}

/* line 19, ../scss/base-settings/base/_buttons.scss */

.button:hover,
.button:active,
.button:focus {
  text-decoration: none;
}

/* line 22, ../scss/base-settings/base/_buttons.scss */

.button[disabled] {
  cursor: default;
}

/* line 30, ../scss/base-settings/base/_buttons.scss */

.button--blue {
  background: #197295;
}

/* line 33, ../scss/base-settings/base/_buttons.scss */

.button--blue:hover,
.button--blue:focus {
  background: #071e28;
}

/* line 39, ../scss/base-settings/base/_buttons.scss */

.button--green {
  background: #57a800;
}

/* line 42, ../scss/base-settings/base/_buttons.scss */

.button--green:hover,
.button--green:focus {
  background: #152800;
}

/* line 48, ../scss/base-settings/base/_buttons.scss */

.button--red {
  background: #990000;
}

/* line 51, ../scss/base-settings/base/_buttons.scss */

.button--red:hover,
.button--red:focus {
  background: #4d0000;
}

/* line 57, ../scss/base-settings/base/_buttons.scss */

.button--grey {
  color: #505050;
}

/* line 60, ../scss/base-settings/base/_buttons.scss */

.button--grey:hover,
.button--grey:focus {
  color: white;
  background: #838383;
}

/* line 66, ../scss/base-settings/base/_buttons.scss */

.button--text {
  border: none;
  background: none;
  color: #197295;
  padding: 0;
}

/* line 74, ../scss/base-settings/base/_buttons.scss */

[disabled],
.button--grey {
  color: #505050;
  border-color: #838383;
}

/* line 6, ../scss/base-settings/base/_forms.scss */

form {
  max-width: 37.5rem;
  margin: 0 0 1.5rem 0;
}

/* line 11, ../scss/base-settings/base/_forms.scss */

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

/* line 17, ../scss/base-settings/base/_forms.scss */

label {
  font-size: 0.875rem;
  line-height: 1;
  margin-bottom: 0.1875rem;
  color: #505050;
  display: block;
  font-weight: bold;
}

/* line 22, ../scss/base-settings/base/_forms.scss */

label abbr {
  color: #990000;
}

/* line 42, ../scss/base-settings/base/_forms.scss */

input[type="file"],
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  width: 100%;
}

/* line 47, ../scss/base-settings/base/_forms.scss */

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

/* line 54, ../scss/base-settings/base/_forms.scss */

input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
}

/* line 56, ../scss/base-settings/base/_forms.scss */

input[type="checkbox"]:hover,
input[type="radio"]:hover,
input[type="checkbox"] + label:hover,
input[type="radio"] + label:hover {
  cursor: pointer;
}

/* line 62, ../scss/base-settings/base/_forms.scss */

input[type="checkbox"] + label,
input[type="radio"] + label {
  margin: 0 0.375rem 1.125rem 0.375rem;
}

/* line 68, ../scss/base-settings/base/_forms.scss */

input,
textarea,
select {
  border-radius: 0.1875rem;
  border: solid 1px #c3c3c3;
  font-size: 0.875rem;
  line-height: 1;
  margin-bottom: 1.125rem;
  padding: 0.75rem;
  background: white;
}

/* line 9, ../scss/base-settings/utilities/_mix-forms.scss */

input:focus,
textarea:focus,
select:focus {
  background-color: whitesmoke;
  border-color: #2093c1;
  outline: none;
}

/* line 72, ../scss/base-settings/base/_forms.scss */

input {
  color: #505050;
}

/* line 76, ../scss/base-settings/base/_forms.scss */

textarea {
  height: auto;
  min-height: 5.375rem;
  font-size: 0.875rem;
  line-height: 1.71429;
  margin-bottom: 1.5rem;
}

/* line 82, ../scss/base-settings/base/_forms.scss */

select {
  height: 42px;
}

/* line 86, ../scss/base-settings/base/_forms.scss */

select + option:hover,
select + option:focus {
  background-color: #8ed1ec;
}

/* line 7, ../scss/base-settings/layouts/_flexbox.scss */

.flex,
[class^="grid"] {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

/* line 11, ../scss/base-settings/layouts/_flexbox.scss */

.flex *:not(.grid--gutter),
[class^="grid"] *:not(.grid--gutter) {
  max-width: 100%;
}

/* line 22, ../scss/base-settings/layouts/_flexbox.scss */

.align-top {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

/* line 26, ../scss/base-settings/layouts/_flexbox.scss */

.align-bottom {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}

/* line 30, ../scss/base-settings/layouts/_flexbox.scss */

.align-vert {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 32, ../scss/base-settings/layouts/_flexbox.scss */

.align-vert.align-center {
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

/* line 37, ../scss/base-settings/layouts/_flexbox.scss */

.align-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/* line 41, ../scss/base-settings/layouts/_flexbox.scss */

.align-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 53, ../scss/base-settings/layouts/_flexbox.scss */

.align-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 17, ../scss/base-settings/layouts/_grid.scss */

[class*="-maxWidth"] {
  max-width: 1300px;
  margin: 0 auto 0;
}

/* line 20, ../scss/base-settings/layouts/_grid.scss */

[class*="-maxWidth"]:not(.grid) {
  padding-left: 1em;
  padding-right: 1em;
}

/* line 27, ../scss/base-settings/layouts/_grid.scss */

.grid {
  list-style: none;
  width: 100%;
}

/* line 31, ../scss/base-settings/layouts/_grid.scss */

.grid * :last-child {
  margin-bottom: 0;
}

/* line 42, ../scss/base-settings/layouts/_grid.scss */

.grid__col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* line 48, ../scss/base-settings/layouts/_grid.scss */

.grid--gutter {
  padding-left: 1em;
}

/* line 50, ../scss/base-settings/layouts/_grid.scss */

.grid--gutter > .grid__col {
  margin: 0 1em 1em 0;
}

/* line 60, ../scss/base-settings/layouts/_grid.scss */

.grid--wide > .grid--gutter {
  margin-top: 1em;
}

/* line 68, ../scss/base-settings/layouts/_grid.scss */

.grid--gutter > .grid__col .grid,
.grid--wide .grid {
  padding-top: 1em;
}

/* line 74, ../scss/base-settings/layouts/_grid.scss */

.grid--gutter > .grid__col .grid:not(.grid--gutter),
.grid--wide .grid:not(.grid--gutter) {
  padding-top: 0;
}

/* line 90, ../scss/base-settings/layouts/_grid.scss */

ul.grid--wide {
  padding-left: 0;
}

@media only screen and (min-width: 0) and (max-width: 40em) {
  /* line 113, ../scss/base-settings/layouts/_grid.scss */

  .g-S1 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }

  /* line 114, ../scss/base-settings/layouts/_grid.scss */

  .g-S2 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }

  /* line 115, ../scss/base-settings/layouts/_grid.scss */

  .g-S3 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33.33333%;
    -ms-flex: 1 0 33.33333%;
    flex: 1 0 33.33333%;
  }

  /* line 118, ../scss/base-settings/layouts/_grid.scss */

  .grid--gutter.g-S1 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 -webkit-calc(100% - 1em);
    -ms-flex: 1 0 calc(100% - 1em);
    flex: 1 0 calc(100% - 1em);
  }

  /* line 119, ../scss/base-settings/layouts/_grid.scss */

  .grid--gutter.g-S2 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 -webkit-calc(100% / 2 - 1em);
    -ms-flex: 1 0 calc(100% / 2 - 1em);
    flex: 1 0 calc(100% / 2 - 1em);
  }

  /* line 120, ../scss/base-settings/layouts/_grid.scss */

  .grid--gutter.g-S3 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 -webkit-calc(100% / 3 - 1em);
    -ms-flex: 1 0 calc(100% / 3 - 1em);
    flex: 1 0 calc(100% / 3 - 1em);
  }
}

@media only screen and (min-width: 40em) and (max-width: 60em) {
  /* line 126, ../scss/base-settings/layouts/_grid.scss */

  .g-M2 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }

  /* line 127, ../scss/base-settings/layouts/_grid.scss */

  .g-M3 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33.33333%;
    -ms-flex: 1 0 33.33333%;
    flex: 1 0 33.33333%;
  }

  /* line 128, ../scss/base-settings/layouts/_grid.scss */

  .g-M4 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 25%;
    -ms-flex: 1 0 25%;
    flex: 1 0 25%;
  }

  /* line 131, ../scss/base-settings/layouts/_grid.scss */

  .grid--gutter.g-M2 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 -webkit-calc(100% / 2 - 1em);
    -ms-flex: 1 0 calc(100% / 2 - 1em);
    flex: 1 0 calc(100% / 2 - 1em);
  }

  /* line 132, ../scss/base-settings/layouts/_grid.scss */

  .grid--gutter.g-M3 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 -webkit-calc(100% / 3 - 1em);
    -ms-flex: 1 0 calc(100% / 3 - 1em);
    flex: 1 0 calc(100% / 3 - 1em);
  }

  /* line 133, ../scss/base-settings/layouts/_grid.scss */

  .grid--gutter.g-M4 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 -webkit-calc(100% / 4 - 1em);
    -ms-flex: 1 0 calc(100% / 4 - 1em);
    flex: 1 0 calc(100% / 4 - 1em);
  }
}

@media only screen and (min-width: 80em) {
  /* line 141, ../scss/base-settings/layouts/_grid.scss */

  .g-L2 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }

  /* line 142, ../scss/base-settings/layouts/_grid.scss */

  .g-L3 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33.33333%;
    -ms-flex: 1 0 33.33333%;
    flex: 1 0 33.33333%;
  }

  /* line 143, ../scss/base-settings/layouts/_grid.scss */

  .g-L4 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 25%;
    -ms-flex: 1 0 25%;
    flex: 1 0 25%;
  }

  /* line 144, ../scss/base-settings/layouts/_grid.scss */

  .g-L6 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 16.66667%;
    -ms-flex: 1 0 16.66667%;
    flex: 1 0 16.66667%;
  }

  /* line 147, ../scss/base-settings/layouts/_grid.scss */

  .grid--gutter.g-L2 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 -webkit-calc(100% / 2 - 1em);
    -ms-flex: 1 0 calc(100% / 2 - 1em);
    flex: 1 0 calc(100% / 2 - 1em);
  }

  /* line 148, ../scss/base-settings/layouts/_grid.scss */

  .grid--gutter.g-L3 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 -webkit-calc(100% / 3 - 1em);
    -ms-flex: 1 0 calc(100% / 3 - 1em);
    flex: 1 0 calc(100% / 3 - 1em);
  }

  /* line 149, ../scss/base-settings/layouts/_grid.scss */

  .grid--gutter.g-L4 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 -webkit-calc(100% / 4 - 1em);
    -ms-flex: 1 0 calc(100% / 4 - 1em);
    flex: 1 0 calc(100% / 4 - 1em);
  }

  /* line 150, ../scss/base-settings/layouts/_grid.scss */

  .grid--gutter.g-L6 > .grid__col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 -webkit-calc(100% / 6 - 1em);
    -ms-flex: 1 0 calc(100% / 6 - 1em);
    flex: 1 0 calc(100% / 6 - 1em);
  }
}

@media only screen and (min-width: 40em) {
  /* line 157, ../scss/base-settings/layouts/_grid.scss */

  .grid__col--1of2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
  }

  /* line 158, ../scss/base-settings/layouts/_grid.scss */

  .grid__col--1of3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33.33333%;
    -ms-flex: 1 0 33.33333%;
    flex: 1 0 33.33333%;
  }

  /* line 159, ../scss/base-settings/layouts/_grid.scss */

  .grid__col--1of4 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 25%;
    -ms-flex: 1 0 25%;
    flex: 1 0 25%;
  }

  /* line 162, ../scss/base-settings/layouts/_grid.scss */

  .grid--gutter .grid__col--1of2 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 -webkit-calc(100% / 2 - 1em);
    -ms-flex: 1 0 calc(100% / 2 - 1em);
    flex: 1 0 calc(100% / 2 - 1em);
  }

  /* line 163, ../scss/base-settings/layouts/_grid.scss */

  .grid--gutter .grid__col--1of3 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 -webkit-calc(100% / 3 - 1em);
    -ms-flex: 1 0 calc(100% / 3 - 1em);
    flex: 1 0 calc(100% / 3 - 1em);
  }

  /* line 164, ../scss/base-settings/layouts/_grid.scss */

  .grid--gutter .grid__col--1of4 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 -webkit-calc(100% / 4 - 1em);
    -ms-flex: 1 0 calc(100% / 4 - 1em);
    flex: 1 0 calc(100% / 4 - 1em);
  }
}

/* line 4, ../scss/base-settings/layouts/_header.scss */

header {
  background: #ccc;
}

/* line 4, ../scss/base-settings/layouts/_navigation.scss */

.main-nav {
  margin-bottom: 0;
}

/* line 6, ../scss/base-settings/layouts/_navigation.scss */

.main-nav a {
  padding: 0.75rem;
}

/* line 3, ../scss/base-settings/layouts/_footer.scss */

footer {
  background: #ccc;
}

/* line 7, ../scss/base-settings/layouts/_footer.scss */

.footer-copyright {
  text-align: center;
  padding-bottom: 1rem;
}

/* line 3, ../scss/base-settings/modules/_panels.scss */

.panel {
  position: relative;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

/* line 8, ../scss/base-settings/modules/_panels.scss */

.panel.grey {
  background-color: gainsboro;
}

/* line 9, ../scss/base-settings/modules/_panels.scss */

.panel.red {
  background-color: #ff9999;
}

/* line 10, ../scss/base-settings/modules/_panels.scss */

.panel.yellow {
  background-color: #fff0b3;
}

/* line 11, ../scss/base-settings/modules/_panels.scss */

.panel.green {
  background-color: #bcff75;
}

/* line 12, ../scss/base-settings/modules/_panels.scss */

.panel > :last-child {
  margin-bottom: 0;
}

/* line 17, ../scss/base-settings/modules/_panels.scss */

.panel--borders {
  border: solid 1px;
}

/* line 19, ../scss/base-settings/modules/_panels.scss */

.panel--borders.grey {
  border-color: #838383;
}

/* line 20, ../scss/base-settings/modules/_panels.scss */

.panel--borders.red {
  border-color: #990000;
}

/* line 21, ../scss/base-settings/modules/_panels.scss */

.panel--borders.yellow {
  border-color: #cca300;
}

/* line 22, ../scss/base-settings/modules/_panels.scss */

.panel--borders.green {
  border-color: #3d7500;
}

/* line 4, ../scss/base-settings/modules/_inline-lists.scss */

.inline-list li {
  margin-right: 0.75rem;
}

/* line 6, ../scss/base-settings/modules/_inline-lists.scss */

.inline-list li:last-child {
  margin-right: 0;
}

/* line 8, ../scss/base-settings/modules/_inline-lists.scss */

.inline-list li:last-child a:after {
  content: '';
}

/* line 15, ../scss/base-settings/modules/_inline-lists.scss */

.inline-list a:after {
  content: '|';
  color: #c3c3c3;
  margin-left: 0.75rem;
}

/* line 5, ../scss/base-settings/themes/_ui-only.scss */

hr {
  margin: 0 0 1rem 0;
}

/* line 7, ../scss/base-settings/themes/_ui-only.scss */

.demo-height {
  height: 200px;
}

/* line 8, ../scss/base-settings/themes/_ui-only.scss */

.demo-content {
  padding: 1em;
}

/* line 9, ../scss/base-settings/themes/_ui-only.scss */

.demo-margin {
  margin-bottom: 1em;
}

/* line 11, ../scss/base-settings/themes/_ui-only.scss */

.demo-bg {
  background: #ccc;
}

/* line 12, ../scss/base-settings/themes/_ui-only.scss */

.demo-bg-2 {
  background: #e4dede;
}

/* line 13, ../scss/base-settings/themes/_ui-only.scss */

.demo-blue-1 {
  background: #c2dbe0;
}

/* line 14, ../scss/base-settings/themes/_ui-only.scss */

.demo-blue-2 {
  background: #b2c9ce;
}

/* line 15, ../scss/base-settings/themes/_ui-only.scss */

.demo-blue-3 {
  background: #a0b6bb;
}

/* line 16, ../scss/base-settings/themes/_ui-only.scss */

.demo-blue-4 {
  background: #8ba5ab;
}

/* line 19, ../scss/base-settings/themes/_ui-only.scss */

.demo-colours li {
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  margin-bottom: 1px;
}

/* line 24, ../scss/base-settings/themes/_ui-only.scss */

.demo-colours li:last-child {
  margin-bottom: 0;
}

/* line 31, ../scss/base-settings/themes/_ui-only.scss */

.tones .lightest {
  background-color: whitesmoke;
}

/* line 34, ../scss/base-settings/themes/_ui-only.scss */

.tones .lighter {
  background-color: gainsboro;
}

/* line 37, ../scss/base-settings/themes/_ui-only.scss */

.tones .light {
  background-color: #c3c3c3;
}

/* line 40, ../scss/base-settings/themes/_ui-only.scss */

.tones .base {
  background-color: darkgrey;
}

/* line 43, ../scss/base-settings/themes/_ui-only.scss */

.tones .dark {
  background-color: #838383;
}

/* line 46, ../scss/base-settings/themes/_ui-only.scss */

.tones .darker {
  background-color: #505050;
}

/* line 52, ../scss/base-settings/themes/_ui-only.scss */

.red .lightest {
  background-color: #ff9999;
}

/* line 55, ../scss/base-settings/themes/_ui-only.scss */

.red .lighter {
  background-color: #ff4d4d;
}

/* line 58, ../scss/base-settings/themes/_ui-only.scss */

.red .light {
  background-color: red;
}

/* line 61, ../scss/base-settings/themes/_ui-only.scss */

.red .base {
  background-color: #cc0000;
}

/* line 64, ../scss/base-settings/themes/_ui-only.scss */

.red .dark {
  background-color: #990000;
}

/* line 67, ../scss/base-settings/themes/_ui-only.scss */

.red .darker {
  background-color: #4d0000;
}

/* line 73, ../scss/base-settings/themes/_ui-only.scss */

.orange .lightest {
  background-color: #fbc9ad;
}

/* line 76, ../scss/base-settings/themes/_ui-only.scss */

.orange .lighter {
  background-color: #f9a87d;
}

/* line 79, ../scss/base-settings/themes/_ui-only.scss */

.orange .light {
  background-color: #f57834;
}

/* line 82, ../scss/base-settings/themes/_ui-only.scss */

.orange .base {
  background-color: #eb5a0b;
}

/* line 85, ../scss/base-settings/themes/_ui-only.scss */

.orange .dark {
  background-color: #ba4709;
}

/* line 88, ../scss/base-settings/themes/_ui-only.scss */

.orange .darker {
  background-color: #592204;
}

/* line 94, ../scss/base-settings/themes/_ui-only.scss */

.yellow .lightest {
  background-color: #fff0b3;
}

/* line 97, ../scss/base-settings/themes/_ui-only.scss */

.yellow .lighter {
  background-color: #ffe680;
}

/* line 100, ../scss/base-settings/themes/_ui-only.scss */

.yellow .light {
  background-color: #ffd633;
}

/* line 103, ../scss/base-settings/themes/_ui-only.scss */

.yellow .base {
  background-color: #ffcc00;
}

/* line 106, ../scss/base-settings/themes/_ui-only.scss */

.yellow .dark {
  background-color: #cca300;
}

/* line 109, ../scss/base-settings/themes/_ui-only.scss */

.yellow .darker {
  background-color: #665200;
}

/* line 115, ../scss/base-settings/themes/_ui-only.scss */

.green .lightest {
  background-color: #bcff75;
}

/* line 118, ../scss/base-settings/themes/_ui-only.scss */

.green .lighter {
  background-color: #98ff28;
}

/* line 121, ../scss/base-settings/themes/_ui-only.scss */

.green .light {
  background-color: #71db00;
}

/* line 124, ../scss/base-settings/themes/_ui-only.scss */

.green .base {
  background-color: #57a800;
}

/* line 127, ../scss/base-settings/themes/_ui-only.scss */

.green .dark {
  background-color: #3d7500;
}

/* line 130, ../scss/base-settings/themes/_ui-only.scss */

.green .darker {
  background-color: #152800;
}

/* line 136, ../scss/base-settings/themes/_ui-only.scss */

.blue .lightest {
  background-color: #8ed1ec;
}

/* line 139, ../scss/base-settings/themes/_ui-only.scss */

.blue .lighter {
  background-color: #4cb7e1;
}

/* line 142, ../scss/base-settings/themes/_ui-only.scss */

.blue .light {
  background-color: #2093c1;
}

/* line 145, ../scss/base-settings/themes/_ui-only.scss */

.blue .base {
  background-color: #197295;
}

/* line 148, ../scss/base-settings/themes/_ui-only.scss */

.blue .dark {
  background-color: #125169;
}

/* line 151, ../scss/base-settings/themes/_ui-only.scss */

.blue .darker {
  background-color: #071e28;
}