/* line 45, ../scss/base-settings/variables/_base-settings.scss */
.clearfix {
  *zoom: 1; }
  /* line 4, ../scss/base-settings/mixins/_general.scss */
  .clearfix:before, .clearfix:after {
    content: " ";
    display: block; }
  /* line 8, ../scss/base-settings/mixins/_general.scss */
  .clearfix:after {
    clear: both; }

/* line 2, ../scss/site-settings/header/_header.scss */
header {
  width: 100%;
  background: #ccc; }

/* line 7, ../scss/site-settings/header/_header.scss */
.logo {
  float: left; }

/* line 12, ../scss/site-settings/header/_header.scss */
.main-nav {
  float: right;
  margin-bottom: 0; }
  /* line 15, ../scss/site-settings/header/_header.scss */
  .main-nav li {
    float: left; }
    /* line 17, ../scss/site-settings/header/_header.scss */
    .main-nav li a {
      display: inline-block;
      padding: 0.75rem; }

/* line 1, ../scss/site-settings/footer/_footer.scss */
footer {
  width: 100%;
  background: #ccc; }

/* line 7, ../scss/site-settings/footer/_footer.scss */
.footer-copyright {
  text-align: center;
  padding-bottom: 1rem; }

@font-face {
  font-family: 'fontello';
  src: url("../scss/site-settings/font/icons/fontello.eot?71791683");
  src: url("../scss/site-settings/font/icons/fontello.woff?71791683") format("woff"), url("../scss/site-settings/font/icons/fontello.ttf?71791683") format("truetype"), url("../scss/site-settings/font/icons/fontello.svg?71791683#fontello") format("svg"); }

/* line 9, ../scss/site-settings/font/_icon-font.scss */
[class*="icon-"] {
  margin-right: .2rem; }

/* line 14, ../scss/site-settings/font/_icon-font.scss */
[class^="icon-"]:before,
[class^="icon-"]:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  width: 1rem;
  display: inline-block;
  text-align: center; }

/* line 29, ../scss/site-settings/font/_icon-font.scss */
.icon-minus:after {
  content: '\e800'; }

/* line 30, ../scss/site-settings/font/_icon-font.scss */
.icon-plus:after {
  content: '\e801'; }

/* line 31, ../scss/site-settings/font/_icon-font.scss */
.icon-twitter:before {
  content: '\e802'; }

/* line 32, ../scss/site-settings/font/_icon-font.scss */
.icon-attention:before {
  content: '\e803'; }

/* line 33, ../scss/site-settings/font/_icon-font.scss */
.icon-spin:before {
  content: '\e804'; }

/* line 34, ../scss/site-settings/font/_icon-font.scss */
.icon-facebook:before {
  content: '\e805'; }

/* line 35, ../scss/site-settings/font/_icon-font.scss */
.icon-right-sml:after {
  content: '\e806'; }

/* line 36, ../scss/site-settings/font/_icon-font.scss */
.icon-left-sml:after {
  content: '\e807'; }

@keyframes rotate-spinner {
  /* line 40, ../scss/site-settings/font/_icon-font.scss */
  0% {
    transform: rotate(0deg); }

  /* line 43, ../scss/site-settings/font/_icon-font.scss */
  100% {
    transform: rotate(360deg); } }

/* line 48, ../scss/site-settings/font/_icon-font.scss */
.animate-spin {
  animation: rotate-spinner 1.5s infinite linear; }

/* line 1, ../scss/site-settings/_panels.scss */
.panel {
  position: relative;
  padding: 1rem;
  margin-bottom: 1.5rem; }
  /* line 5, ../scss/site-settings/_panels.scss */
  .panel.grey {
    background-color: gainsboro; }
  /* line 6, ../scss/site-settings/_panels.scss */
  .panel.red {
    background-color: #ff9999; }
  /* line 7, ../scss/site-settings/_panels.scss */
  .panel.yellow {
    background-color: #fff0b3; }
  /* line 8, ../scss/site-settings/_panels.scss */
  .panel.green {
    background-color: #bcff75; }
  /* line 9, ../scss/site-settings/_panels.scss */
  .panel.panel-borders {
    border: solid 1px; }
    /* line 11, ../scss/site-settings/_panels.scss */
    .panel.panel-borders.grey {
      border-color: #838383; }
    /* line 12, ../scss/site-settings/_panels.scss */
    .panel.panel-borders.red {
      border-color: #990000; }
    /* line 13, ../scss/site-settings/_panels.scss */
    .panel.panel-borders.yellow {
      border-color: #cca300; }
    /* line 14, ../scss/site-settings/_panels.scss */
    .panel.panel-borders.green {
      border-color: #3d7500; }
  /* line 16, ../scss/site-settings/_panels.scss */
  .panel > :last-child {
    margin-bottom: 0; }

/* line 23, ../scss/site-settings/_panels.scss */
.panel-wide:before, .panel-wide:after {
  content: "";
  width: 50%;
  min-height: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: inherit; }
/* line 32, ../scss/site-settings/_panels.scss */
.panel-wide:before {
  left: -50%; }
/* line 33, ../scss/site-settings/_panels.scss */
.panel-wide:after {
  right: -50%; }

/* line 2, ../scss/_ui-only.scss */
hr {
  margin: 0 0 1rem 0; }

/* line 5, ../scss/_ui-only.scss */
.tones li, .red li, .orange li, .yellow li, .green li, .blue li {
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  margin-bottom: 1px; }
  /* line 10, ../scss/_ui-only.scss */
  .tones li:last-child, .red li:last-child, .orange li:last-child, .yellow li:last-child, .green li:last-child, .blue li:last-child {
    margin-bottom: 0; }

/* line 17, ../scss/_ui-only.scss */
.tones .lightest {
  background-color: whitesmoke; }
/* line 20, ../scss/_ui-only.scss */
.tones .lighter {
  background-color: gainsboro; }
/* line 23, ../scss/_ui-only.scss */
.tones .light {
  background-color: #c3c3c3; }
/* line 26, ../scss/_ui-only.scss */
.tones .base {
  background-color: darkgrey; }
/* line 29, ../scss/_ui-only.scss */
.tones .dark {
  background-color: #838383; }
/* line 32, ../scss/_ui-only.scss */
.tones .darker {
  background-color: #505050; }

/* line 38, ../scss/_ui-only.scss */
.red .lightest {
  background-color: #ff9999; }
/* line 41, ../scss/_ui-only.scss */
.red .lighter {
  background-color: #ff4d4d; }
/* line 44, ../scss/_ui-only.scss */
.red .light {
  background-color: red; }
/* line 47, ../scss/_ui-only.scss */
.red .base {
  background-color: #cc0000; }
/* line 50, ../scss/_ui-only.scss */
.red .dark {
  background-color: #990000; }
/* line 53, ../scss/_ui-only.scss */
.red .darker {
  background-color: #4d0000; }

/* line 59, ../scss/_ui-only.scss */
.orange .lightest {
  background-color: #fbc9ad; }
/* line 62, ../scss/_ui-only.scss */
.orange .lighter {
  background-color: #f9a87d; }
/* line 65, ../scss/_ui-only.scss */
.orange .light {
  background-color: #f57834; }
/* line 68, ../scss/_ui-only.scss */
.orange .base {
  background-color: #eb5a0b; }
/* line 71, ../scss/_ui-only.scss */
.orange .dark {
  background-color: #ba4709; }
/* line 74, ../scss/_ui-only.scss */
.orange .darker {
  background-color: #592204; }

/* line 80, ../scss/_ui-only.scss */
.yellow .lightest {
  background-color: #fff0b3; }
/* line 83, ../scss/_ui-only.scss */
.yellow .lighter {
  background-color: #ffe680; }
/* line 86, ../scss/_ui-only.scss */
.yellow .light {
  background-color: #ffd633; }
/* line 89, ../scss/_ui-only.scss */
.yellow .base {
  background-color: #ffcc00; }
/* line 92, ../scss/_ui-only.scss */
.yellow .dark {
  background-color: #cca300; }
/* line 95, ../scss/_ui-only.scss */
.yellow .darker {
  background-color: #665200; }

/* line 101, ../scss/_ui-only.scss */
.green .lightest {
  background-color: #bcff75; }
/* line 104, ../scss/_ui-only.scss */
.green .lighter {
  background-color: #98ff28; }
/* line 107, ../scss/_ui-only.scss */
.green .light {
  background-color: #71db00; }
/* line 110, ../scss/_ui-only.scss */
.green .base {
  background-color: #57a800; }
/* line 113, ../scss/_ui-only.scss */
.green .dark {
  background-color: #3d7500; }
/* line 116, ../scss/_ui-only.scss */
.green .darker {
  background-color: #152800; }

/* line 122, ../scss/_ui-only.scss */
.blue .lightest {
  background-color: #8ed1ec; }
/* line 125, ../scss/_ui-only.scss */
.blue .lighter {
  background-color: #4cb7e1; }
/* line 128, ../scss/_ui-only.scss */
.blue .light {
  background-color: #2093c1; }
/* line 131, ../scss/_ui-only.scss */
.blue .base {
  background-color: #197295; }
/* line 134, ../scss/_ui-only.scss */
.blue .dark {
  background-color: #125169; }
/* line 137, ../scss/_ui-only.scss */
.blue .darker {
  background-color: #071e28; }
