// Themes -  these are only used in the UI style page

// NOT intended for actual use but feel free to if you want!

hr { margin: 0 0 1rem 0; }

.demo-height  { height: 200px; }
.demo-content { padding: 1em; } // same as the grid gutter
.demo-margin  { margin-bottom: 1em; } // same as the grid gutter

.demo-bg      { background: #ccc; }
.demo-bg-2    { background: #e4dede; }
.demo-blue-1  { background: #c2dbe0; }
.demo-blue-2  { background: #b2c9ce; }
.demo-blue-3  { background: #a0b6bb; }
.demo-blue-4  { background: #8ba5ab; }

.demo-colours {
  li {
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    margin-bottom: 1px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.tones {
  .lightest {
    background-color: $grey-lightest;
  }
  .lighter {
    background-color: $grey-lighter;
  }
  .light {
    background-color: $grey-light;
  }
  .base {
    background-color: $grey;
  }
  .dark {
    background-color: $grey-dark;
  }
  .darker {
    background-color: $grey-darker;
  }
}

.red {
  .lightest {
    background-color: $red-lightest;
  }
  .lighter {
    background-color: $red-lighter;
  }
  .light {
    background-color: $red-light;
  }
  .base {
    background-color: $red;
  }
  .dark {
    background-color: $red-dark;
  }
  .darker {
    background-color: $red-darker;
  }
}

.orange {
  .lightest {
    background-color: $orange-lightest;
  }
  .lighter {
    background-color: $orange-lighter;
  }
  .light {
    background-color: $orange-light;
  }
  .base {
    background-color: $orange;
  }
  .dark {
    background-color: $orange-dark;
  }
  .darker {
    background-color: $orange-darker;
  }
}

.yellow {
  .lightest {
    background-color: $yellow-lightest;
  }
  .lighter {
    background-color: $yellow-lighter;
  }
  .light {
    background-color: $yellow-light;
  }
  .base {
    background-color: $yellow;
  }
  .dark {
    background-color: $yellow-dark;
  }
  .darker {
    background-color: $yellow-darker;
  }
}

.green {
  .lightest {
    background-color: $green-lightest;
  }
  .lighter {
    background-color: $green-lighter;
  }
  .light {
    background-color: $green-light;
  }
  .base {
    background-color: $green;
  }
  .dark {
    background-color: $green-dark;
  }
  .darker {
    background-color: $green-darker;
  }
}

.blue {
  .lightest {
    background-color: $blue-lightest;
  }
  .lighter {
    background-color: $blue-lighter;
  }
  .light {
    background-color: $blue-light;
  }
  .base {
    background-color: $blue;
  }
  .dark {
    background-color: $blue-dark;
  }
  .darker {
    background-color: $blue-darker;
  }
}