// ------Colour variables ------ //
$blue:                  #197295;
$red:                   #cc0000;
$green:                 #57a800;
$purple:                #8b2db2;
$orange:                #eb5a0b;
$yellow:                #ffcc00;
$grey:                  #a9a9a9;

$white:                 #fff;
$black:                 #000;

$lightest:              40%;
$lighter:               25%;
$light:                 10%;
$dark:                  10%;
$darker:                25%;

// blue tones
$blue-lightest:         lighten($blue, $lightest);
$blue-lighter:          lighten($blue, $lighter);
$blue-light:            lighten($blue, $light);
$blue-dark:             darken($blue, $dark);
$blue-darker:           darken($blue, $darker);

// red tones
$red-lightest:          lighten($red, $lightest);
$red-lighter:           lighten($red, $lighter);
$red-light:             lighten($red, $light);
$red-dark:              darken($red, $dark);
$red-darker:            darken($red, $darker);

// green tones
$green-lightest:        lighten($green, $lightest);
$green-lighter:         lighten($green, $lighter);
$green-light:           lighten($green, $light);
$green-dark:            darken($green, $dark);
$green-darker:          darken($green, $darker);

// purple tones
$purple-lightest:       lighten($purple, $lightest);
$purple-lighter:        lighten($purple, $lighter);
$purple-light:          lighten($purple, $light);
$purple-dark:           darken($purple, $dark);
$purple-darker:         darken($purple, $darker);

// orange tones
$orange-lightest:       lighten($orange, $lightest - 5);
$orange-lighter:        lighten($orange, $lighter);
$orange-light:          lighten($orange, $light);
$orange-dark:           darken($orange, $dark);
$orange-darker:         darken($orange, $darker + 5);

// yellow tones
$yellow-lightest:       lighten($yellow, $lightest - 5);
$yellow-lighter:        lighten($yellow, $lighter);
$yellow-light:          lighten($yellow, $light);
$yellow-dark:           darken($yellow, $dark);
$yellow-darker:         darken($yellow, $darker + 5);

// grey tones
$grey-lightest:         lighten($grey, $lightest - 10);
$grey-lighter:          lighten($grey, $lighter - 5);
$grey-light:            lighten($grey, $light);
$grey-dark:             darken($grey, $dark + 5);
$grey-darker:           darken($grey, $darker +10);