*,
*:before,
*:after { box-sizing: border-box; }

html {
  height: 100%; // Prevent iOS text size adjust after orientation change, without disabling user zoom.
  font-size: 100%; // same as above
  font-family: arial;
}

html,
body { overflow-x: hidden; } // used for the off canvas to hide the overflow

body {
  background: #fff;
  color: #333;
  position: relative;
  margin: 0; 
  padding: 0;
}

main,
footer { padding-top: 24px; }

// get images and embeds to work properly
img,
object,
embed { max-width: 100%; }

img {
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle; // Get rid of gap under images
}

// conditional IE message
.not-supported {
  width: 100%;
  padding: 20px;
  color: #000;
  text-align: center;
  background: #ffecb3;
  border-bottom: solid 1px #664d00;
  p {
    margin-bottom: 0;
  }
}