// Inline lists - base list settings are in the /base dir

.inline-list {
  li {
    margin-right: $space-sml;
    &:last-child {
      margin-right: 0;
      a:after {
        content: '';
      }
    }
  }
  // links
  a {
    &:after {
      content: '|';
      color: $grey-light;
    }
    &:after {
      content: '|';
      color: $grey-light;
      margin-left: $space-sml;
    }
  }
}