// Panels - basic containers for things

.panel {
  position: relative;
  padding: $space-med;
  margin-bottom: $space-lrg;
  > :last-child {
    margin-bottom: 0;
  }
}

.panel--grey   { background-color: $grey-lighter; }
.panel--red    { background-color: $red-lightest; }
.panel--yellow { background-color: $yellow-lightest; }
.panel--green  { background-color: $green-lightest; }

.panel--borders {
  border: solid 1px;
  &.panel--grey   { border-color: $grey-dark; }
  &.panel--red    { border-color: $red-dark; }
  &.panel--yellow { border-color: $yellow-dark; }
  &.panel--green  { border-color: $green-dark; }
}