// Panels - basic containers for things

.panel {
  position: relative;
  width: $full-width;
  padding: $space-med;
  margin-bottom: $space-lrg;
  &.grey   { background-color: $grey-lighter; }
  &.red    { background-color: $red-lightest; }
  &.yellow { background-color: $yellow-lightest; }
  &.green  { background-color: $green-lightest; }
  > :last-child {
    margin-bottom: 0;
  }
}

.panel--borders {
  border: solid 1px;
  &.grey   { border-color: $grey-dark; }
  &.red    { border-color: $red-dark; }
  &.yellow { border-color: $yellow-dark; }
  &.green  { border-color: $green-dark; }
}