// Panels - basic containers for things

.panel {
  position: relative;
  padding: $space-med;
  margin-bottom: $space-lrg;
  &.grey    { background-color: $grey-lighter; }
  &.red     { background-color: $red-lightest; }
  &.yellow  { background-color: $yellow-lightest; }
  &.green   { background-color: $green-lightest; }
  &.panel-borders {
    border: solid 1px;
    &.grey    { border-color: $grey-dark; }
    &.red     { border-color: $red-dark; }
    &.yellow  { border-color: $yellow-dark; }
    &.green   { border-color: $green-dark; }
  }
  > :last-child {
    margin-bottom: 0;
  }
}

.panel-wide { // full browser width
  &:before,
  &:after {
    content: "";
    width: $full-width/2;
    min-height: $full-height;
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: inherit;
  }
  &:before { left: -$full-width/2; }
  &:after  { right: -$full-width/2; }
}