@mixin font-rhythm($size, $margin: yes, $line-height: $base-line-height) {
  font-size: 0rem + $size / $base-font-size;
  // line-height functions
  @if $line-height != $base-line-height and $line-height != 1 {
    line-height: ceil($size / $line-height) * ($line-height / $size);
  }
  // if $line-height == 1 this is = to 16px
  @else if $line-height == 1 {
    line-height: 1;
  }
  // normal $line-height
  @else {
    line-height: ceil($size / $base-line-height) * ($base-line-height / $size);
  }
  // if no is bottom margin is required
  @if $margin == no {
    margin-bottom: 0;
  }
  // if a specific bottom margin is required
  @else if $margin != yes and $margin != no {
    margin-bottom: 0rem + ($margin / $base-font-size);
  }
  // if you're keeping the vertical rhythm with the margin
  @else {
    margin-bottom: 0rem + ($base-line-height / $base-font-size);
  }
}

// ------ inline lists ------ //
@mixin inline-lists($links: false) {
  padding-left: 0;
  list-style: none;
  float: $left;
  li {
    float: $left; 
    padding-right: $space-sml;
    &:last-child {
      padding-right: 0;
    }
  }
  @if $links == true {
    li {
      a {
        padding: 0 $space-sml 0 $space-sml;
        border-right: 1px solid $grey-light;
        &:first-child {
          padding-left: 0;
        }
      }
      &:last-child {
        a {
          border-right: none;
        }
      }
    }
  }
}