@font-face {
  font-family: 'fontello';
  src: url('../scss/site-settings/font/icons/fontello.eot?71791683');
  src: url('../scss/site-settings/font/icons/fontello.woff?71791683') format('woff'),
       url('../scss/site-settings/font/icons/fontello.ttf?71791683') format('truetype'),
       url('../scss/site-settings/font/icons/fontello.svg?71791683#fontello') format('svg');
}

[class*="icon-"] {
  margin-right: .2rem;
}

[class^="icon-"]:before,
[class^="icon-"]:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  font-variant: normal;
  text-transform: none;
  // remove the below 3 lies if you want the icons to sit left aligned
  width: 1rem;
  display: $in-block;
  text-align: center;
}

// Classes for icons
.icon-minus:after       { content: '\e800'; }
.icon-plus:after        { content: '\e801'; }
.icon-twitter:before    { content: '\e802'; }
.icon-attention:before  { content: '\e803'; }
.icon-spin:before       { content: '\e804'; }
.icon-facebook:before   { content: '\e805'; }
.icon-right-sml:after   { content: '\e806'; }
.icon-left-sml:after    { content: '\e807'; }

// animate the spinner
@keyframes rotate-spinner {
  0% {
    @include rotate(0);
  }
  100% {
    @include rotate(360);
  }
}

.animate-spin {
  @include animation('rotate-spinner 1.5s infinite linear');
}