// Mixin - common and not specific to any module

// hover, active ,focus
@mixin hoverActiveFocus($property, $value) {
  &:hover, &:active, &:focus {
    #{$property}: $value;
  }
}

// Gradients
@mixin bg-gradient($direction, $colour1, $colour2, $focus: false) {
  background-color: $colour1; // Fallback Color
  background-image: -webkit-linear-gradient($direction, $colour1, $colour2); // Chrome 10+, Saf5.1+, iOS 5+
  background-image: -moz-linear-gradient($direction, $colour1, $colour2);
  background-image:  linear-gradient($direction, $colour1, $colour2);
  @if $focus == true {
    &:hover,
    &:focus {
      background-color: darken($colour1, 10%); // Fallback Color
      background-image: -webkit-linear-gradient($direction, darken($colour1, 10%), darken($colour2, 10%)); // Chrome 10+, Saf5.1+, iOS 5+
      background-image: -moz-linear-gradient($direction, darken($colour1, 10%), darken($colour2, 10%));
      background-image: linear-gradient($direction, darken($colour1, 10%), darken($colour2, 10%));
    }
  }
}

// rgba
@mixin rgba($color, $opacity: 0.3) {
  background: rgba($color, $opacity);
}