// Mixin - forms

@mixin form-general {
  border-radius: $radius/2;
  border: solid 1px $grey-light;
  @include font-rhythm(14, 18, 1);
  padding: $space-sml;
  background: $white;
  &:focus {
    background-color: $grey-lightest;
    border-color: $blue-light;
    outline: none;
  }
}