// Variables - not specific to anything

$hundred:          100%;
$full-width:       $hundred;
$full-height:      $hundred;
$site-width:       1300px; // the default width for the site used in layouts/_grid.scss

// directions
$left:             left;
$right:            right;

// Timings - mostly used in trasitions
$ease: ease;

$fast-timing:      0.2s $ease;
$timing:           0.35s $ease; // the default
$slow-timing:      0.5s $ease;

// Max-height - mostly used in transitions
// The below will cover most instances
$xsml-max-height:  100px;
$sml-max-height:   250px;
$med-max-height:   500px;
$lrg-max-height:   750px;
$xlrg-max-height:  1000px;
$xxlrg-max-height: 1500px;
$huge-max-height:  9999px; // if you need to use this or bigger maybe rethink the UI for the content

// blocks
$in-block:         inline-block;
$block:            block;

// spacing
$space-xxsml:      calc-rem( 3 );
$space-xsml:       calc-rem( 6 );
$space-sml:        calc-rem( 12 );
$space-med:        calc-rem( 16 );
$space-medl:       calc-rem( 18 );
$space-lrg:        calc-rem( 24 );
$space-xlrg:       calc-rem( 36 );
$space-xxlrg:      calc-rem( 48 );
$space-xxxlrg:     calc-rem( 72 );

// Radius
$radius:           calc-rem( 6 );
$rounded:          calc-rem( 1000 );