// Variables - Typography

$base-font-size:   16; // vertical rhythm
$base-line-height: 24; // vertical rhythm

// Variables for text
$font-family:      Arial; // sans-serif is the default for the html tag sp not used here
$font-weight-bold: bold;
$font-weight-norm: normal;
$no-underline:     none;
$underline:        underline;