form {
  margin: 0 0 $space-lrg 0;
}

form .row {
  @include form-row-base;
}

fieldset {
  border: 0;
  @extend %zero-all;
}

label {
  @include font-rhythm(14, 3, 1);
  color: $grey-darker;
  display: $block;
  font-weight: bold;
  abbr {
    font-weight: normal;
    @include font-rhythm(12, 3, 1);
    color: $red-dark;
  }
}

// set the widths
input[type="file"],
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  width: $full-width;
  display: $block;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: $in-block;
  &:hover {
    cursor: pointer;
  }
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  margin: 0 $space-xsml $space-medl $space-xsml;
}

input,
textarea,
select {
  @include form-general;
}

input {
  color: $grey-darker;
}

textarea { 
  height: auto;
  min-height: remCalc(86);
  @include font-rhythm(14);
}

select {
    height: 42px;
  + option {
    &:hover,
    &:focus {
      background-color: $blue-lightest;
    }
  }
}