// ------ veetical rhythm ------ //

//  font size in PX and it will calculate the REM
//  @include font-rhythm(24);

//  bottom margin - no = 0 leave blank for default
//  @include font-rhythm(24, no);

//  bottom margin specfic px value
//  @include font-rhythm(24,32);

//  line height - 1 = 0
//  @include font-rhythm(24, yes, 1);

//  line-height specfic px value
//  @include font-rhythm(24, yes, 40);

$base-font-size:          16; // vertical rhythm
$base-line-height:        24; // vertical rhythm

// Variables for text
$font-family:             Arial, sans-serif;
$font-weight-bold:        bold;
$font-weight-norm:        normal;
$no-underline:            none;
$underline:               underline;

// ------ header h tags ------//

h1, h2, h3, h4, h5, h6, p { 
  margin-top: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { 
  font-family: $font-family;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 { font-weight: $font-weight-norm; }
h5, .h5, h6, .h6 { font-weight: $font-weight-bold; }

h1, .h1 {
  @include font-rhythm(24, 12, 24);
  @include respond-to ($small) {
    @include font-rhythm(28);
  }
  @include respond-to ($large) {
    @include font-rhythm(32, yes, 24);
  }
}

h2, .h2 {
  @include font-rhythm(21, 12, 24);
  @include respond-to ($small) {
    @include font-rhythm(24);
  }
  @include respond-to ($large) {
    @include font-rhythm(28, yes, 24);
  }
}

h3, .h3 {
  @include font-rhythm($base-font-size, 12, 24);
  @include respond-to ($small) {
    @include font-rhythm(18);
  }
  @include respond-to ($large) {
    @include font-rhythm(24, yes, 24);
  }
}

h4, .h4 {
  @include font-rhythm(14, 12, 24);
  @include respond-to ($small) {
    @include font-rhythm($base-font-size);
  }
  @include respond-to ($large) {
    @include font-rhythm(18, yes, 24);
  }
}

h5, .h5 {
  @include font-rhythm(12, 12, 24);
  @include respond-to ($small) {
    @include font-rhythm(14);
  }
  @include respond-to ($large) {
    @include font-rhythm($base-font-size, yes, 24);
  }
}

h6, .h6 {
  @include font-rhythm(12, 12, 24);
}


// ------ Paragraph ------ //
p, code, pre, kbd, samp {
  @include font-rhythm(12, 12, 18);
  @include respond-to ($small) {
    @include font-rhythm(14);
  }
  @include respond-to ($large) {
    @include font-rhythm($base-font-size);
  }
}

// ------ text links ------ //
a {
  display: $in-block;
  @include font-rhythm(12, 6, 1);
  color: $blue; 
  text-decoration: $no-underline;
  &:focus,
  &:active,
  &:hover {
    text-decoration: underline;
    outline: 0;
  }
  background: transparent;
  @include respond-to ($small) {
    @include font-rhythm(14, 6, 1);
  }
  @include respond-to ($large) {
    @include font-rhythm($base-font-size, 6, 1);
  }
}

// ------ Lists ------ //
ul,
ol,
dl {
  @include font-rhythm(12);
  margin-top: 0;
  @include respond-to ($small) {
    @include font-rhythm(14);
  }
  @include respond-to ($large) {
    @include font-rhythm($base-font-size);
  }
}

ol { padding-left: 20px; }
ul { padding-left: 15px; }

.no-bullet { 
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

// inline li
.inline-list {
  @include inline-lists;
}
 // inline li with links
.inline-links {
  @include inline-lists(true);
}

// inline links only
.inline-footer-links {
  a {
    @include font-rhythm(12, 6, 12);
    padding: 0 $space-sml 0 $space-sml;
    border-right: 1px solid $grey-dark;
    &:first-child {
      padding-left: 0;
    }
    &:last-of-type {
      border-right: none;
    }
  }
}