// Base global settings

*,
*:before,
*:after { box-sizing: border-box; }

html {
  height: $full-height; // Prevent iOS text size adjust after orientation change, without disabling user zoom.
  font-size: 16px; // same as above
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  background: white;
  color: #333;
  position: relative;
  margin: 0; 
  padding: 0;
  overflow-x: hidden;  // used for the off canvas to hide the overflow
}

main,
footer { padding-top: $space-lrg; }

// get images and embeds to work properly
img,
object,
embed { max-width: $full-width; }

img {
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle; // Get rid of gap under images
}

// conditional IE message
.not-supported {
  width: $full-width;
  padding: calc-rem(20);
  color: black;
  text-align: center;
  background: #ffecb3;
  border-bottom: solid 1px #664d00;
  p {
    margin-bottom: 0;
  }
}