// Buttons - these are the base setting for buttons any variations are in the /modules dir

.button {
  display: $in-block;
  width: $full-width;
  padding: $space-sml $space-med;
  border: 1px solid transparent;
  border-radius: 0; // cancels out the default <button> 2px radius
  @include font-rhythm(16, yes, 1); // done here as we can have the button class on an <a>
  color: $white;
  text-align: center;
  background: $grey-lighter;
  transition: background $timing, color $timing;
  @include respond-to ($xsmall-landscape) {
    width: auto;
  }
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
  &[disabled] {
    cursor: default;
  }
}

// Button colours

// blue button
.button--blue {
  background: $blue;
  &:hover,
  &:focus {
    background: $blue-darker;
  }
}

// green button
.button--green {
  background: $green;
  &:hover,
  &:focus {
    background: $green-darker;
  }
}

// red button
.button--red {
  background: $red-dark;
  &:hover,
  &:focus {
    background: $red-darker;
  }
}

// grey button hover state
.button--grey {
  color: $grey-darker;
  &:hover,
  &:focus {
    color: $white;
    background: $grey-dark;
  }
}

.button--text {
  border: none;
  background: none;
  color: $blue;
  padding: 0;
}

[disabled],
.button--grey {
  color: $grey-darker;
  border-color: $grey-dark;
}