// Forms - these are the base settings for forms any variations are in the /modules dir

// Each input and label is wrapped in a div with the class '.form-item'
// This is to isolate each form item if needed

form {
  max-width: calc-rem(600); // no one likes a really wide form!
  margin: 0 0 $space-lrg 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

label {
  @include font-rhythm(15, 6, 1);
  color: $grey-darker;
  display: block;
  font-weight: bold;
  abbr {
    color: $red-dark;
  }
}

// set the widths
input[type="file"],
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  width: $full-width;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  margin: 0 $space-xsml $space-medl $space-xsml;
}

input,
textarea,
select {
  @include form-general;
}

input {
  color: $grey-darker;
}

textarea { 
  height: auto;
  min-height: calc-rem(86);
  @include font-rhythm(14);
}

select {
  height: 42px;
  + option {
    &:hover,
    &:focus {
      background-color: $blue-lightest;
    }
  }
}