// Animations - Keyframes for the CSS animations, mixinx live in the /utilities/... dir

// Do not add animation rules here only keyframes, rules should be in the specific /module/... file.

// Usage
// .element {
//   animation: fade-in 2s ease;
// }

// Modal - the modal box uses the generic fade_in, fade_out below

// Generic fade in
@include keyframes(fade_in) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Generic fade out
@include keyframes(fade_out) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Screen overlay fade in
@include keyframes(screen_overlay_fade_in) {
  0% {
    opacity : 0;
  } 
  100% {
    opacity : 0.35;
  }
}

// Screen overlay fade out
@include keyframes(screen_overlay_fade_out) {
  0% {
    opacity : 0.35;
  }
  100% {
    opacity : 0;
  }
}

// Rotate 360
@include keyframes(rotate-spinner) {
  0% {
    @include rotate(0);
  }
  100% {
    @include rotate(359);
  }
}