// Lists - these are the base settings for lists any variations are in the /modules dir

ul,
ol,
dl {
  @include font-rhythm($base-font-size, yes, 24);
  margin-top: 0;
}

ol { padding-left: 20px; }
ul { padding-left: 15px; }

.no-bullet { 
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}