// Grid

// As there is a max-width delcared for the restricted site width
// we use margin to center .grid as we don't want a main flex wrapper for centering.
// We do this so that we can have resticted and full width grids anywhwere on the page
// without the need of hacks to make the full width one.

// Variables grid specific
$grid-gutter: 1em;

// add the flex. We want it to be on the cols as well as the container so done this way.
[class^="grid"] {
  @extend %flex; // This extend is in the _flexbox.scss file
}

// Done this way so it can be prefixed with anything for other modular classes
[class*="-maxWidth"] {
  max-width: $site-width;
  margin: 0 auto 0; // we declare the bottom as zero here to cater for when .grid is on a ul
  &:not(.grid) {
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
  }
}

// the main grid settings
.grid {
  list-style: none; // for when a list is a grid
  width: $full-width;

  * :last-child { // ********** original
    margin-bottom: 0;
  }

  // * :last-child &:not(.grid__col) { // ********** extra for the nested collapse thing
  //   margin-bottom: 0;
  // }

}

// set the columns
.grid__col {
  flex: 1;
}

// add some gutters to the grid and cater for nested grids
// the grid with gutters is the width restricted one
.grid--gutter {
  padding-left: $grid-gutter;
  > .grid__col {
    margin: 0 $grid-gutter $grid-gutter 0;
    .grid {
      @extend %nested-grid;
    }
  }
}

// make the grid full width and cater for any nested grid when wide
.grid--wide {
  > .grid--gutter {
    margin-top: $grid-gutter;
  }
  .grid {
    @extend %nested-grid;
  }
}

%nested-grid {

  padding-top: $grid-gutter; // ********** original

  // padding-left: 0; // ********** extra for the nested collapse thing

  &:not(.grid--gutter) {
    padding-top: 0;
  }


  // .grid__col { // ********** extra for the nested collapse thing
  //   margin-bottom: 0;
  //   &:last-of-type {
  //     margin-right: 0;
  //   }
  // }


}

// clear the list default when a wide grid is used
ul.grid--wide {
  padding-left: 0
}

// Grid widths
// We do all 12 but we don't neccassarly have to use them!
// Number denotes the amount across NOT the grid value.
// These are for when we have a grid with a gutter.
$w-1:   calc(#{$hundred} - #{$grid-gutter});
$w-2:   calc(#{$hundred} / 2 - #{$grid-gutter});
$w-3:   calc(#{$hundred} / 3 - #{$grid-gutter});
$w-4:   calc(#{$hundred} / 4 - #{$grid-gutter});
$w-5:   calc(#{$hundred} / 5 - #{$grid-gutter});
$w-6:   calc(#{$hundred} / 6 - #{$grid-gutter});
$w-7:   calc(#{$hundred} / 7 - #{$grid-gutter});
$w-8:   calc(#{$hundred} / 8 - #{$grid-gutter});
$w-9:   calc(#{$hundred} / 9 - #{$grid-gutter});
$w-10:  calc(#{$hundred} / 10 - #{$grid-gutter});
$w-11:  calc(#{$hundred} / 11 - #{$grid-gutter});
$w-12:  calc(#{$hundred} / 12 - #{$grid-gutter});

// Small
@include respond-to(0, $small) {
  .g-S1 > .grid__col { flex: 1 0 $hundred; }
  .g-S2 > .grid__col { flex: 1 0 $hundred/2; }
  .g-S3 > .grid__col { flex: 1 0 $hundred/3; }

  .grid--gutter {
    &.g-S1 > .grid__col { flex: 1 0 $w-1; }
    &.g-S2 > .grid__col { flex: 1 0 $w-2; }
    &.g-S3 > .grid__col { flex: 1 0 $w-3; }
  }
}

// Medium
@include respond-to($small, $medium) {
  .g-M2 > .grid__col { flex: 1 0 $hundred/2; }
  .g-M3 > .grid__col { flex: 1 0 $hundred/3; }
  .g-M4 > .grid__col { flex: 1 0 $hundred/4; }

  .grid--gutter {
    &.g-M2 > .grid__col { flex: 1 0 $w-2; }
    &.g-M3 > .grid__col { flex: 1 0 $w-3; }
    &.g-M4 > .grid__col { flex: 1 0 $w-4; }
  }
}

// Large
// The default is flex: 1; for grid__col so you don't actually need to specify these classes 
// unless you want to restrict the width of a cell
@include respond-to($large) {
  .g-L2 > .grid__col { flex: 1 0 $hundred/2; }
  .g-L3 > .grid__col { flex: 1 0 $hundred/3; }
  .g-L4 > .grid__col { flex: 1 0 $hundred/4; }
  .g-L6 > .grid__col { flex: 1 0 $hundred/6; }

  .grid--gutter {
    &.g-L2 > .grid__col { flex: 1 0 $w-2; }
    &.g-L3 > .grid__col { flex: 1 0 $w-3; }
    &.g-L4 > .grid__col { flex: 1 0 $w-4; }
    &.g-L6 > .grid__col { flex: 1 0 $w-6; }
  } 
}

// For the individual sizes
// we only do thirds, quarters and halves as they are the most common sizes used
@include respond-to($small) {
  .grid__col--1of2 { flex: 1 0 $hundred/2; }
  .grid__col--1of3 { flex: 1 0 $hundred/3; }
  .grid__col--1of4 { flex: 1 0 $hundred/4; }

  .grid--gutter {
    .grid__col--1of2 { flex: 1 0 $w-2; }
    .grid__col--1of3 { flex: 1 0 $w-3; }
    .grid__col--1of4 { flex: 1 0 $w-4; }
  }
}